.resp {
    display: block;
}

@media (max-width: 640px) {
    .resp {
        display: none !important; 
    }
}
.respp {
    display: block;
}

@media (max-width: 1020px) {
    .respp {
        display: none !important; 
    }
}
.resp2 {
    display: block ; 
}

@media (min-width: 640px) {
    .resp2 {
        display: none !important; 
    }
}



.resp22 {
    display: block ; 
    
}

@media (min-width: 1015px) {
    .resp22 {
        display: none !important; 
    }
}




.resp3 {
   display: block;
   
}

@media (max-width: 1020px) {
    .resp3 {
        display: none !important;
    }
}


.resp4 {
    display: none !important;
 }
 
 @media (max-width: 1020px) {
     .resp4 {
        display: flex !important;
    
        
     }
 }

 .resp5 {
    display: none !important;
 }
 
 @media (min-width: 1020px) {
     .resp5 {
        display: flex !important;
       
        
     }
 }
