.resp {
    display: block;
}

@media (max-width: 640px) {
    .resp {
        display: none !important; 
    }
}
.resp2 {
    display: block ; 
}

@media (min-width: 640px) {
    .resp2 {
        display: none !important; 
    }
}
.resp3 {
   display: block;
}

@media (max-width: 1450px) {
    .resp3 {
        display: none !important;
    }
}


.resp4 {
    display: none !important;
 }
 
 @media (max-width: 1450px) {
     .resp4 {
        display: flex !important;
        
     }
 }

